html, body {
    background-color: rgb(232,232,232);
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
#masthead {
    background-color: white; 
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    
}

#nav {
    color: gray;
    text-align: center;
    padding-top: 30px ;
}

.about, .port, .contact {
    color: grey;
    font-size: large;
    text-align: center;
}

#logo {
    background-color: rgb(105, 199, 199);
    color: white;
    float: left;
    padding: 30px 0px 30px 0px;
    text-align: center;
    font-size: x-large;
    border-radius: 4px;
}

.jumbotron {
    margin-top: 30px;
    background-color: white;
    font-family: 'Comic Neue', cursive;
    border-radius: 15px; 
}

.portHeader {
    padding-top: 30px;
    font-family: 'Comic Neue', cursive;
    color: white;
    text-align: center;
}

.jumbotronPort {
    margin-top: 30px;
    background-color: grey;
    font-family: 'Comic Neue', cursive;
    border-radius: 15px;  
}



.display-4 {
    font-weight: bold;
    color: rgb(105, 199, 199)

}

.footer {
    background-color:  rgb(105, 199, 199);
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-top: grey;
    border-top-style: solid;
    border-width: 8px;
    
}
.push {
    height: 50px; 
}
.copyright {
    padding: 25px;
    text-align: center;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    font-size: small;
}

.auth-image {
    float: left;
    margin: 5px;
}

.contact_card, .contact_me {
    color: white;
    background-color: grey;
    border-radius: 15px ;
    font-family: 'Comic Neue', cursive;
}

.contact_me {
    text-align: center;
}

.main_section {
    font-family: 'Comic Neue', cursive;
    color: grey
   

}

#main-container {
    padding-top: 30px;
}



.work {
    margin: 10px 0px 15px 0px;
    
  }
  

  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  
  .work h3 {
    position: static;
    bottom: 20px;
    width: auto;
    padding: 10px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background:  rgb(105, 199, 199);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
 

  
